<div class="historical-restaurant">
	<div class="row">
		<div class="medium-12 columns">
			<p><%= historical_restaurant[:date] %></p>
			<% historical_restaurant[:restaurants].each do |restaurant| %>
				<p><%= restaurant[:name] %></p>
				<p>SOME CONTENT ABOUT RESTAURANT</p>
				<p>SOME CONTENT ABOUT RESTAURANT</p>
				<p>SOME CONTENT ABOUT RESTAURANT</p>
				<p>SOME CONTENT ABOUT RESTAURANT</p>
				<p>SOME CONTENT ABOUT RESTAURANT</p>
				<p>SOME CONTENT ABOUT RESTAURANT</p>
				
			<% end %>
			<hr>
		</div>
	</div>

</div>